/MassSieve-gui/dist/*
/MassSieve-gui/build/*
/MassSieve-core/target/*
/MassSieve-gui/nbproject/private/*
/MassSieve-gui/nbproject/private/private.properties
MassSieve-gui/nbproject/private/private.properties

